@font-face {
    font-family: 'u5c';
    src: url('~assets/fonts/u5c.ttf') format('truetype');
    src: url('~assets/fonts/u5c.woff2') format('woff2'), url('~assets/fonts/u5c.woff') format('woff');
}
@font-face {
    font-family: 'u5cdot';
    src: url('~assets/fonts/u5cdot.ttf') format('truetype') format('truetype');
    src: url('~assets/fonts/u5cdot.woff2') format('woff2'), url('~assets/fonts/u5cdot.woff') format('woff')';
}
@font-face {
    font-family: 'binary_vertical_u5c2';
    src: url('~assets/fonts/binary_vertical_u5c2.ttf') format('truetype');
    src: url('~assets/fonts/binary_vertical_u5c2.woff2') format('woff2'), url('~assets/fonts/binary_vertical_u5c2.woff') format('woff');
}
@font-face {
    font-family: 'binary_vertical_u5hp2';
    src: url('~assets/fonts/binary_vertical_u5hp2.ttf') format('truetype');
    src: url('~assets/fonts/binary_vertical_u5hp2.woff2') format('woff2'), url('~assets/fonts/binary_vertical_u5hp2.woff') format('woff');
}
@font-face {
    font-family: 'ssu5p';
    src: url('~assets/fonts/ssu5p.ttf') format('truetype');
    src: url('~assets/fonts/ssu5p.woff2') format('woff2'), url('~assets/fonts/ssu5p.woff') format('woff')';
}

* { font-family: "u5cdot"; }
.div_zkv { line-height: 18px; }
.ssu5p { font-family: ssu5p; font-size: 32px; font-weight:bold; color: green;}
.u5cdot { font-size: 24px; font-weight:bold; color: red;}
.indikl { font-size: 20px; color: #a1a; }
.radio-toolbar { margin: 1px; }
.radio-toolbar input[type="radio"] { opacity: 0; position: fixed; width: 0; }
.radio-toolbar label {
  display: inline-block; background-color: #fff; padding: 2px 2px;
  border: 2px solid #44A; border-radius: 4px;
}
.radio-toolbar label:hover { background-color: cyan; }
.radio-toolbar input[type="radio"] + label { background-color: #ff0; border-color: #4cA; }
.radio-toolbar input[type="radio"]:focus + label { background-color: #fff; border: 2px dashed #000; }
